.center{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-color:whitesmoke;
}
.images img{
    width:300px;
    height:300px; 
    border-radius: 20px;
    margin: 20px;
    border: 2px solid blueviolet;
}

h1{
    color: blueviolet;
    font-family: "Yu Gothic Medium", "Yu Gothic", sans-serif;
    font-size: 50px;
    margin: 20px;
    padding: 20px;
}